@model DogGo.Models.ViewModels.WalkerViewModel

@{
    ViewData["Title"] = "Walker Profile";
}

@{
    int totalWalkSeconds = 0;
    int totalMinutes = 0;
    int totalHours = 0;
}

<div>
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
        @if (String.IsNullOrEmpty(Model.Walker.ImageUrl))
        {
        <img style="width:100px;float:left;margin-right:20px"
             src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />           
        }
        else
        {
            <img style="width:100px;float:left;margin-right:20px"
                 src="@Model.Walker.ImageUrl" class="card-img-top" alt="WalkerPhoto" />
        }
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5" style="float:left;width:40%">
            <h1 class="text-left">Recent Walks</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Client
                        </th>
                        <th>
                            Duration
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Walks)
                    {
                        <tr>
                            <td>
                                @item.Date.ToShortDateString()
                            </td>
                            <td>
                                @item.Dog.Name
                            </td>
                            <td>
                                @{
                                    int walkSeconds = item.Duration;
                                    int walkMinutes = walkSeconds / 60;
                                    totalWalkSeconds += walkSeconds;
                                }
                                @walkMinutes min
                            </td>
                        </tr>
                    }
                    @{
                        totalMinutes = totalWalkSeconds / 60 % 60;
                        totalHours = totalWalkSeconds / 60 / 60;
                    }
                </tbody>
            </table>
        </section>

        <section class="col-lg-4 col-md-8 container mt-5" style="background-color:whitesmoke">
            <h1>Total Walk Time: @totalHours<span>hr</span> @totalMinutes<span>min</span></h1>
        </section>
    </div>
</div>
